  <footer class="footer navbar-fixed-bottom">
                     <a target="_blank" href="http://city-press.news24.com/">
                    <img id="logo-footer-city" src="/static/img/redlogo.JPG"/>
                </a>
                           <a target="_blank" href="https://www.dailysun.co.za/">
                    <img id="logo-footer-sun" src="/static/img/dailysun.jpeg"/>
                </a>
    <div class="row" id="rowsplit2">
    <div class="col-lg-12 col-xs-12">
      <div class="">
        <a href="http://www.24.com/static/PrivacyPolicy.htm"target="_blank">Terms of Use</a> | <a href="{{ url_for('faq') }}">FAQS</a> | <a href="{{ url_for('about') }}">About this tool</a>
      </div>
    </div>
  </div>
</footer>

<!-- jQuery -->
<script src="/static/js/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/static/js/bootstrap.min.js"></script>
<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="/static/js/jquery.textfill.js"></script>
<!-- Contact Form JavaScript -->
<script src="/static/js/jqBootstrapValidation.js"></script>
<!-- Custom Theme JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/static/js/google-sheet.js"></script>
<!-- Custom Theme JavaScript -->
