<!-- Navigation -->
<nav class="navbar fixed-top navbar-light bg-light">
  <div class="navbar-brand d-flex align-items-center mx-auto w-75">
      <div class="w-50 me-4">
        <a rel="home" href="{{ url_for('home') }}" title="EZOLWALUKO">
          <img class="img-fluid" id="logo"  src="/static/img/Logomain.png">
        </a>
      </div>
      <div class="d-flex">
        <button type="submit" class="navbar-toggler me-1 p-2 nav-button" aria-expanded="false" onclick="window.location.href='/en'">English</button>
        <button class="navbar-toggler m-auto nav-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbar3" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
  </div>
  <div id="navbar3" class="collapse navbar-collapse">
    <div class="navbar-nav mb-2 mb-lg-0 text-center justify-content-center w-75 m-auto">
      <a class="nav-item nav-link nav-items-links" href="{{ url_for('widgets') }}">Ingaba ingcibi yakho ibhalisiwe ngokwasemthethweni?</a>
      <a class="nav-item nav-link" href="{{ url_for('initiates_home') }}">Ingaba unomkhwetha omaziyo osengxakini okanye ebungozini?</a>
      <a class="nav-item nav-link" href="{{ url_for('reports_home') }}" >Chaza ingcibi engekhosemthethweni</a>
      <a class="nav-item nav-link" href="{{ url_for('surgeons_register') }}">Igcibi ibhalisa apha</a>
      <a class="nav-item nav-link" href="{{ url_for('locator') }}">Fumana ingcibi apha</a>
      <a class="nav-item nav-link" href="{{ url_for('about') }}">Ulwazi malunga nalomba</a>
      <a class="nav-item nav-link" href="{{ url_for('contact') }}">Bhala inombolo ze fowuni</a>
      <a class="nav-item nav-link" href="{{ url_for('faq') }}">Frequently Asked Questions</a>
    </div>
  </div>
</nav>
