<!-- Navigation -->
<nav class="navbar fixed-top navbar-light bg-light">
  <div class="navbar-brand d-flex align-items-center mx-auto" style="width: 75%;">
      <a class= "flex-grow-1" rel="home" href="{{ url_for('home') }}" title="EZOLWALUKO">
        <img  id="logo"  src="/static/img/Logomain.png">
      </a>
      <div>
        <button type="submit" class="navbar-toggler m-auto p-2" aria-expanded="false" onclick="window.location.href='/xh'">XHOSA</button>
        <button class="navbar-toggler m-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbar3" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
  </div>
  <div id="navbar3" class="collapse navbar-collapse">
    <div class="navbar-nav mb-2 mb-lg-0 text-center justify-content-center w-75 m-auto">
        <a class="nav-item nav-link nav-items-links" href="{{ url_for('widgets') }}">Is your surgeon registered?</a>
        <a class="nav-item nav-link" href="{{ url_for('initiates_home') }}">Do you know an initiate in trouble?</a>
        <a class="nav-item nav-link" href="{{ url_for('reports_home') }}" >Report an illegal traditional surgeon</a>
        <a class="nav-item nav-link" href="{{ url_for('surgeons_register') }}">Register as a traditional surgeon</a>
        <a class="nav-item nav-link" href="{{ url_for('locator') }}">Find a registered traditional surgeon</a>
        <a class="nav-item nav-link" href="{{ url_for('about') }}">About this project</a>
        <a class="nav-item nav-link" href="{{ url_for('contact') }}">Contact details</a>
        <a class="nav-item nav-link" href="{{ url_for('faq') }}">Frequently Asked Questions</a>
    </div>
  </div>
</nav>
