{% extends "layout_xh.html" %}

{% block content %}

    <div class="container-fluid container-7">
        <section class="success" id="home">
            <h3 style="padding-left:20px">Thank you!</h3>
            <br/>
            <p>Isebe lezencubeko empumakoloni lizakunikeza ngencukacha zakho kwigosa elizakunceda, kwaye liqhakamshelane
                nawe.
                <br/><br/><br/><br/><br/><br/><br/>
                <br/></p>
            <br>
            <br>
            <br>
            <br>
        </section>
    </div>

{% endblock content %}