{% extends "layout_desktop.html" %}

{% block content %}

    <div class="main_content text-center">

        <h2>Frequently Asked Questions</h2>

        <p>Why is city press doing this project? (project origination and history)    <br>
            <p class="faqc">(Coming Soon)</p>
            Who is involved? (partners)<br>
            <p class="faqc">(Coming Soon)</p>
            Is this endorsed by the department of health?    <br>
            <p class="faqc">(Coming Soon)</p>
            This is a culturally sensitive topic, what steps have you taken to make sure the treatment/app positioning is
            appropriate?    <br>
            <p class="faqc">(Coming Soon)</p>
            Where is the information from (who owns the data)?    <br>
            <p class="faqc">(Coming Soon)</p>
            How can I get in touch with you? <br>
            <p class="faqc">(Coming Soon)</p>
        </p>
        <div class="d-flex flex-column">
            <div class="d-flex align-items-end justify-content-center my-2">
                <a href="http://city-press.news24.com/" target="_blank" class="portfolio-link mx-2"
                    data-toggle="modal">
                    <img src="/static/img/citypress.png" class="img-fluid" alt="" width="200">
                </a>
                <a href="http://eclgta.ecprov.gov.za/" target="_blank" class="portfolio-link mx-2" data-toggle="modal">
                    <img src="/static/img/CogTa.png" class="img-fluid" alt="" width="200">
                </a>
            </div>
            <div class="d-flex align-items-end justify-content-center my-2">
                <a href="https://codeforafrica.org/"
                    target="_blank" class="portfolio-link mx-2" data-toggle="modal">
                    <img src="/static/img/Code4Africa.png" class="img-fluid" alt="" width="200">
                </a>
                <a href="http://opendata.durban" target="_blank" class="portfolio-link mx-2"
                    data-toggle="modal">
                    <img src="/static/img/Open%20Data%20Durban%20Logo.png" class="img-fluid" alt="" width="200">
                </a>
            </div>
        </div>
    </div>
{% endblock content %}
