{% extends "layout_xh.html" %}

{% block content %}

<div style="color: #363435;">
    <p>Siyacela ingcibi zibhalise ngokusemthethweni phaya kwelasebe lezempilo ukuqinisekisa ukuba zikulungele
        kwaye
        zinaso isakhono sokwalusa amakhwenkwe. Mawethu lento ibalulekile kakhulu njengoba nisazi nani baninzi
        abakhwetha abaswelekayo
        ngenxa yeengcibi ezingekho mthethweni minyaka le. Mxele umntu owalusa ngokungekho mthethweni khona ukuze
        usindise ubomi bomntwana.
    </p>
    <form action="{{ url_for('reports_home_mobi') }}" class="form-horizontal" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group">
            <div class="control-label">
                Bhala igama?
            </div>
            <div class="is-invalid">
                {{ form.opt_name(placeholder="Type your name (optional)...", class="form-control") }}
            </div>
            <p class="invalid-feedback">
                {{ form.opt_name.errors[0] }}
            </p>

        </div>
        <div class="form-group">
            <div class="control-label">
                Ithini ifone number?
            </div>
            <div class="is-invalid">
                {{ form.phone_number(placeholder="Type your phone number...", class="form-control") }}
            </div>
            <p class="invalid-feedback">
                {{ form.phone_number.errors[0] }}
            </p>

        </div>
        <div class="form-group">
            <div class="control-label">
                Ngubani lengcibi yalusayo ngaphandle kwevume?
            </div>
            <div class="is-invalid">
                {{ form.surgeons_name(placeholder="Enter his name...", class="form-control") }}
            </div>
            <p class="invalid-feedback">
                {{ form.surgeons_name.errors[0] }}
            </p>

        </div>
        <div class="form-group">
            <div class="control-label">
                Amakhwenkwe/abantwana?
            </div>
            <div class="is-invalid">
                {{ form.area(placeholder="Type the area...", class="form-control") }}
            </div>
            <p class="invalid-feedback">
                {{ form.area.errors[0] }}
            </p>

        </div>
        <div class="form-group {% if form.report_problem.errors %} has-error {% endif %}">
            <div class="control-label col-sm-3">
                Chaza kwenzekani
            </div>
            <div class="col-sm-3">
                {{ form.report_problem(placeholder="Describe the nature of the problem...", class="form-control") }}
            </div>
            <p class="col-sm-5 help-block">
                {{ form.report_problem.errors[0] }}

        </div>
        <div class="d-flex">
            <button class="btn btn-danger" type="submit" style="width: 100%;">Chofa apha</button>
        </div>
    </form>
</div>

{% endblock content %}
