{% extends "layout.html" %}

{% block content %}

    <div class="container-fluid container-7">
        <section class="success" id="home">
            <h3 style="padding-left:20px">Thank you!</h3>
            <br/>

            <p>An official from the Eastern Cape Department of traditional affairs will act on this information
                <br/><br/><br/><br/><br/><br/><br/>
                <br/></p>
            <br>
            <br>
            <br>
            <br>
        </section>
    </div>

{% endblock content %}