{% extends "layout_desktop.html" %}

{% block content %}

    <div class="container-fluid container-7">
        <section class="success" id="home">
            <p>Do you know an initiate who is experiencing health problems during their initiation? Let us know and save
                a
                life!
            </p><br/>
            <form action="{{ url_for('initiates_home') }}" class="form-horizontal" method="POST" >
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="form-group {% if form.name.errors %} has-error {% endif %}">
                    <div class="control-label col-sm-5">
                        What is your name?
                    </div>
                    <div class="col-sm-5">
                        {{ form.name(placeholder="Type your name...", class="form-control") }}
                    </div>
                    <p class="col-sm-2 help-block">
                        {{ form.name.errors[0] }}

                </div>
                <div class="form-group {% if form.phone_number.errors %} has-error {% endif %}">
                    <div class="control-label col-sm-5">
                        What is your phone number?
                    </div>
                    <div class="col-sm-5">
                        {{ form.phone_number(placeholder="Type your phone number...", class="form-control") }}
                    </div>
                    <p class="col-sm-2 help-block">
                        {{ form.phone_number.errors[0] }}

                </div>
                <div class="form-group {% if form.initiate_problem.errors %} has-error {% endif %}">
                    <div class="control-label col-sm-5">
                        Please describe the problem the initiate is going through
                    </div>
                    <div class="col-sm-5">
                        {{ form.initiate_problem(placeholder="Describe the nature of the problem...", class="form-control") }}
                                            <br/>
                    <button class="btn btn-success" type="submit" style="float: right; padding: 8px 30px 8px 30px;">Submit</button>
                    </div>
                    <p class="col-sm-1 help-block">
                        {{ form.initiate_problem.errors[0] }}
 <div class="col-sm-1">
                </div>
                </div>

            </form>
        </section>
    </div>

{% endblock content %}