{% extends "layout_desktop.html" %}

{% block content %}

    <div class="main_content d-flex justify-content-center">
        <div class="w-100">
            <p>Do you know an initiate who is experiencing health problems during their initiation? Let us know and save
                a
                life!
            </p>
            <form action="{{ url_for('initiates_home') }}" method="POST" >
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="control-label">
                    What is your name?
                </div>
                <div class="is-invalid">
                    {{ form.name(placeholder="Type your name...", class="form-control") }}
                </div>
                <p class="invalid-feedback">
                    {{ form.name.errors[0] }}
                </p>
                <div class="control-label">
                    What is your phone number?
                </div>
                <div class="is-invalid">
                    {{ form.phone_number(placeholder="Type your phone number...", class="form-control") }}
                </div>
                <p class="invalid-feedback">
                    {{ form.phone_number.errors[0] }}
                </p>
                <div class="control-label">
                    Please describe the problem the initiate is going through
                </div>
                <div class="is-invalid">
                    {{ form.initiate_problem(placeholder="Describe the nature of the problem...", class="form-control") }}
                </div>
                <button class="btn btn-success w-100 mt-5" type="submit">Submit</button>
                </div>
                <p class="invalid-feedback">
                    {{ form.initiate_problem.errors[0] }}
                </p>
            </form>
        </div>
    </div>

{% endblock content %}
