{% extends "layout_desktop.html" %}

{% block content %}

    <div class="container-fluid container-7">
        <section class="success" id="home1">
            <h3> National Initiation Hotline Number:</h3>

            <h3>0800 66 66 11</h3>
            <br>
            <p id="Contactpara">City Press Contact Details: <br/>
                <br>
                69 Kingsway<br/>
                Auckland Park<br/>
                Johannesburg<br/>
                <br>
                News desk phone: 011 713 9485<br/>
                East London office: 073 207 2200<br/>
                Web: <a style="color:#c0392b;" href="http://city-press.news24.com/" target="_blank">http://city-press.news24.com/</a><br/>
                <br>
                Eastern Cape Department of Health Contact Details:<br/>
                <br>
                Department of Health Eastern Cape<br/>
                Dukumbana Building<br/>
                Independance Avenue<br/>
                Bhisho<br/>
                5605<br/>
                <br>
                Phone: 08000 32364<br/>
                Web: <a style="color:#c0392b;" href="http://www.echealth.gov.za" target="_blank">http://www.echealth.gov.za</a></p>
            <br>
            <br>
            <br>
            <br>
        </section>
    </div>

{% endblock content %}
