{% extends "layout.html" %}

{% block content %}
    <div style="color: #363435;">
        <form action="{{ url_for('locator_mobi') }}" class="form-horizontal" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="input-group">
                <div class="control-label mb-2">
                    Who are the nearest traditional surgeons around you?<br><br> Please select your area:
                </div>
                <div class="is-invalid" style="width: 100%;">
                    {{ form.location(placeholder="E.g. Libode", class="form-select") }}
                </div>
                <p class="invalid-feedback">
                    {{ form.location.errors[0] }}
                </p>
            </div>
            <div class="d-flex">
                <button class="btn btn-danger" type="submit" style="width: 100%;">Submit</button>
            </div>
        </form>
    </div>

{% endblock content %}
