{% extends "layout_xh.html" %}

{% block content %}

    <div class="container-fluid container-7">
        <section class="success" id="home">
            <form action="{{ url_for('locator_mobi') }}" class="form-horizontal" method="POST" style="position: absolute">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="form-group {% if form.location.errors %} has-error {% endif %}">
                    <div class="control-label col-sm-3">
                        Ngobani iingcibi ezikufutshane nawe? Please select your area:
                    </div>
                    <div class="col-sm-3">
                        {{ form.location(placeholder="E.g. Libode", class="form-control") }}
                    </div>
                    <p class="col-sm-5 help-block">
                        {{ form.location.errors[0] }}

                </div>
                <button class="btn btn-success" type="submit">Chofa apha</button>
                <br>
                <br>
                <br>
                <br>
            </form>
        </section>
    </div>

{% endblock content %}