<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Enables parents and initiates to check whether the traditional surgeons they have chosen are
    registered with the provincial department of health, or find someone who is.">
    <meta name="keyword" content="Ezolwaluko,ulwaluko,tradition surgeons,initiates,find a surgeon,report a surgeon, report an initiation school">
    <meta name="author" content="Open Data Durban">
    <title>Ezolwaluko</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/css/freelancer.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/home.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand" />
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.textfill.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>

        function resize() {
            $('.container-1').css({height: 1 * $(window).innerHeight() / 9. - 2.5});
            $('.container-2').css({height: 2 * $(window).innerHeight() / 9. - 2.5});
            $('.container-3').css({height: 3. * $(window).innerHeight() / 9. - 2.5});
            $('.container-4').css({height: 0.5 * $(window).innerHeight() / 9. - 2.5});

            $('.container-left').css({width: $(window).innerWidth() / 2. - 7.5});
            $('.container-right').css({width: $(window).innerWidth() / 2. - 7.5});

            $('.breaks').css({margin: 0.1 * $(window).innerHeight() / 9});

         /*   $('#logo').css({height: 0.4 * $(window).innerHeight() / 9});
            $('#logo').css({width: 0.33 * $(window).innerWidth()});*/

            var resp_text_min = 10;
            var resp_text_max = 18;

            $('#my-element').textfill({
                maxFontPixels: resp_text_max,
                minFontPixels: resp_text_max,
                widthOnly: true
            });

            $('#my-element-2').textfill({
                maxFontPixels: resp_text_min,
                minFontPixels: resp_text_min,
                widthOnly: false
            });

            $('#my-element-3').textfill({
                maxFontPixels: resp_text_max,
                minFontPixels: resp_text_max,
                widthOnly: true
            });

            $('#my-element-4').textfill({
                maxFontPixels: resp_text_min,
                minFontPixels: resp_text_min,
                changeLineHeight: true,
                explicitHeight: $('.container-2').css({height: 2 * $(window).innerHeight() / 9. - 5.})
            });
            $('#my-element-5').textfill({
                maxFontPixels: resp_text_max,
                minFontPixels: resp_text_max,
                widthOnly: true
            });

            $('#my-element-6').textfill({
                maxFontPixels: resp_text_min,
                minFontPixels: resp_text_min,
                changeLineHeight: true,
                explicitHeight: $('.container-2').css({height: 2 * $(window).innerHeight() / 9. - 5.})
            });
            $('#my-element-7').textfill({
                maxFontPixels: resp_text_max,
                minFontPixels: resp_text_max,
                widthOnly: true
            });

            $('#my-element-8').textfill({
                maxFontPixels: resp_text_min,
                minFontPixels: resp_text_min,
                changeLineHeight: true,
                explicitHeight: $('.container-2').css({height: 2 * $(window).innerHeight() / 9. - 5.})
            });

            $('#my-element-9').textfill({
                maxFontPixels: resp_text_max,
                minFontPixels: resp_text_max,
                widthOnly: true
            });

            $('#my-element-10').textfill({
                maxFontPixels: resp_text_min,
                minFontPixels: 10,
                changeLineHeight: true,
                explicitHeight: $('.container-2').css({height: 2 * $(window).innerHeight() / 9. - 5.})
            });
            $('#my-element-11').textfill({
                maxFontPixels: resp_text_min,
                minFontPixels: resp_text_min,
            });
        }

        if (window.addEventListener) {
            window.addEventListener('resize', resize);
        }

        else {
            window.attachEvent('onresize', resize);
        }

        $(document).ready(function () {
            resize()
        });
    </script>
</head>

<body>
<main>
    <div class="container-fluid container-1">
        <nav class="navbar navbar-default navbar-fixed-top container-1 bot" style=" background: #c0392b">
                <div class="navbar-header page-scroll">
                    <button type="button" id="my-element-11" class="navbar-toggle btn-responsive container-4 Absolute-Center " data-target="#bs-example-navbar-collapse-1" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                    </button>
                    <button type="submit" id="my-element-11" class="navbar-toggle btn-responsive container-4 Absolute-Center-2"
                            aria-expanded="false" onclick="window.location.href='/xh'">XH
                    </button>
                    <div class="container-fluid container-1" style=" background: white;">
                   <a class="navbar-brand" href="{{ url_for('home') }}">
                       <img id="logo" src="/static/img/Logomain.png" style="height: 20px;width: 80%; max-width: 160px;">
                    </div>
                <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-center">
                        <li><a href="{{ url_for('widgets_mobi') }}" class="btn btn-default btn-responsive" style="  line-height: 14px; padding: 2px">Is
                            your surgeon registered?</a></li>
                        <li><a href="{{ url_for('initiates_home_mobi') }}" class="btn btn-default btn-responsive" style="  line-height: 14px; padding: 2px">Do
                            you know an initiate in trouble?</a></li>
                        <li><a href="{{ url_for('reports_home_mobi') }}" class="btn btn-default btn-responsive" style="  line-height: 14px; padding: 2px">Report
                            an illegal traditional surgeon</a></li>
                        <li><a href="{{ url_for('surgeons_register_mobi') }}" class="btn btn-default btn-responsive" style="  line-height: 14px; padding: 2px">Register
                            as a traditional surgeon</a></li>
                        <li><a href="{{ url_for('locator_mobi') }}" class="btn btn-default btn-responsive" style="  line-height: 14px; padding: 2px">Find
                            a registered traditional surgeon</a></li>
                        <li><a href="{{ url_for('about_mobi') }}" class="btn btn-default btn-responsive" style="  line-height: 14px; padding: 2px">About
                            this project</a></li>
                        <li><a href="{{ url_for('contact_mobi') }}" class="btn btn-default btn-responsive" style="  line-height: 14px; padding: 2px;">Contact
                            details</a></li>
                        <br>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <a href="{{ url_for('widgets_mobi') }}">
        <div class="container-fluid container-3 toppad5" style="  background: #c0392b;">
            <div id="my-element" style="   text-align: center; margin-top: 12vh">
                <span>REGISTERED?</span>
            </div>
            <div id="my-element-2" style="   text-align: center; line-height: 14px">
                <span>Check if your surgeon is registered</span>
              <br/>  <img  src="/static/img/icon.png" style="   max-width: 25px; height: inherit; padding-bottom: 10px; padding-top: 10px;"/>
            </div>
        </div>
    </a>

    <div class="container-fluid container-2 toppad5" style="  background: transparent">
        <div class="row">
            <a href="{{ url_for('reports_home_mobi') }}">
                <div class="col-sm-6 container-2 row1 container-left" style="  background: #a62518;">
                    <div id="my-element-3" style="  text-align: center; margin-top: 4vh">
                        <span>REPORT</span>
                    </div>
                    <div id="my-element-4" style="  text-align: center; line-height: 14px">
                        <span>Report illegal surgeons or initiation schools</span>
                        <br/>  <img  src="/static/img/Report Icon.png" style="   max-width: 25px; height: inherit; padding-bottom: 10px; padding-top: 10px;"/>
                    </div>
                </div>
            </a>

            <a href="{{ url_for('initiates_home_mobi') }}">
                <div class="col-sm-6 container-2 row1 container-right" style="  background: #8b1e12;">
                    <div id="my-element-5" style="   text-align: center; margin-top: 4vh">
                        <span>GET HELP</span>
                    </div>
                    <div id="my-element-6" style="   text-align: center; line-height: 14px">
                        <span>Help Hotline for initiates who are in trouble</span>
                        <br/>  <img  src="/static/img/Get Help Icon.png" style="  max-width: 25px; height: inherit; padding-bottom: 10px; padding-top: 10px;"/>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="container-fluid container-2 toppad5" style="  background: transparent">
        <div class="row">
            <a href="{{ url_for('locator_mobi') }}">
                <div class="col-sm-6 container-2 row2 container-left" style="  background: #2f4155;">
                    <div id="my-element-7" style="  text-align: center; margin-top: 4vh">
                        <span>FIND</span>
                    </div>
                    <div id="my-element-8" style="  text-align: center; line-height: 14px">
                        <span>Find your nearest surgeon or school for initiation </span>
                        <br/>  <img  src="/static/img/Find Icon.png" style="  max-width: 25px; height: inherit; padding-bottom: 10px; padding-top: 5px;"/>
                    </div>
                </div>
            </a>

            <a href="{{ url_for('surgeons_register_mobi') }}">
                <div class="col-sm-6 container-2 row2 container-right" style="  background: #3f5269;">
                    <div id="my-element-9" style="  text-align: center; margin-top: 4vh">
                        <span>GET LEGAL</span>
                    </div>
                    <div id="my-element-10" style="  text-align: center; line-height: 14px">
                        <span>Do you want to register as a traditional surgeon ?</span>
                        <br/>  <img  src="/static/img/Get Legal Icon.png" style="  max-width: 25px; height: inherit; padding-top: 10px; padding-bottom: 10px;"/>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <br style="  line-height: 5px">

    <div class="container-fluid container-1 navy toppad5" id="footer">
        <nav class="navbar navbar-default navbar-fixed-bottom container-1" style=" background: white;">
            <div class="container-fluid container-1 footer-basic-centered footer-company-motto" style="  background: white;padding-top:5px">
               <a href="http://city-press.news24.com/">
                    <img id="logofooter" src="/static/img/redlogo.JPG"/>
                </a>
                   <a target="_blank" href="https://www.dailysun.co.za/">
                    <img id="logo-footer-sun" src="/static/img/dailysun.jpeg"/>
                </a>
                <div style="  text-align: center; font-size: 12px; border-top: 1px solid #c0392b;">
                    <a href="http://www.24.com/static/PrivacyPolicy.htm"target="_blank"><span style="color:#c0392b;">Terms of Use</span></a>
                        .
                     <a href="{{ url_for('faq_mobi') }}" style="color:#c0392b;">FAQs</a>
                        .
                    <a href="{{ url_for('about_mobi') }}" style="color:#c0392b;">About this tool</a>
                </div>
            </div>
        </nav>
    </div>
</main>
</body>
</html>