<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Enables parents and initiates to check whether the traditional surgeons they have chosen are
    registered with the provincial department of health, or find someone who is.">
    <meta name="keyword" content="Ezolwaluko,ulwaluko,tradition surgeons,initiates,find a surgeon,report a surgeon, report an initiation school">
    <meta name="author" content="Open Data Durban">
    <title>Ezolwaluko</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/css/freelancer.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/new_home.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand" />
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.textfill.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>

        function resize() {
            $('.container-1').css({height: 1 * $(window).innerHeight() / 9. - 2.5});
            $('.container-2').css({height: 2 * $(window).innerHeight() / 9. - 2.5});
            $('.container-3').css({height: 3. * $(window).innerHeight() / 9. - 2.5});
            $('.container-4').css({height: 0.5 * $(window).innerHeight() / 9. - 2.5});

            $('.container-left').css({width: $(window).innerWidth() / 2. - 7.5});
            $('.container-right').css({width: $(window).innerWidth() / 2. - 7.5});

            $('.breaks').css({margin: 0.1 * $(window).innerHeight() / 9});

         /*   $('#logo').css({height: 0.4 * $(window).innerHeight() / 9});
            $('#logo').css({width: 0.33 * $(window).innerWidth()});*/

            var resp_text_min = 10;
            var resp_text_max = 18;

            $('#my-element').textfill({
                maxFontPixels: resp_text_max,
                minFontPixels: resp_text_max,
                widthOnly: true
            });

            $('#my-element-2').textfill({
                maxFontPixels: resp_text_min,
                minFontPixels: resp_text_min,
                widthOnly: false
            });

            $('#my-element-3').textfill({
                maxFontPixels: resp_text_max,
                minFontPixels: resp_text_max,
                widthOnly: true
            });

            $('#my-element-4').textfill({
                maxFontPixels: resp_text_min,
                minFontPixels: resp_text_min,
                changeLineHeight: true,
                explicitHeight: $('.container-2').css({height: 2 * $(window).innerHeight() / 9. - 5.})
            });
            $('#my-element-5').textfill({
                maxFontPixels: resp_text_max,
                minFontPixels: resp_text_max,
                widthOnly: true
            });

            $('#my-element-6').textfill({
                maxFontPixels: resp_text_min,
                minFontPixels: resp_text_min,
                changeLineHeight: true,
                explicitHeight: $('.container-2').css({height: 2 * $(window).innerHeight() / 9. - 5.})
            });
            $('#my-element-7').textfill({
                maxFontPixels: resp_text_max,
                minFontPixels: resp_text_max,
                widthOnly: true
            });

            $('#my-element-8').textfill({
                maxFontPixels: resp_text_min,
                minFontPixels: resp_text_min,
                changeLineHeight: true,
                explicitHeight: $('.container-2').css({height: 2 * $(window).innerHeight() / 9. - 5.})
            });

            $('#my-element-9').textfill({
                maxFontPixels: resp_text_max,
                minFontPixels: resp_text_max,
                widthOnly: true
            });

            $('#my-element-10').textfill({
                maxFontPixels: resp_text_min,
                minFontPixels: 10,
                changeLineHeight: true,
                explicitHeight: $('.container-2').css({height: 2 * $(window).innerHeight() / 9. - 5.})
            });
            $('#my-element-11').textfill({
                maxFontPixels: resp_text_min,
                minFontPixels: resp_text_min,
            });
        }

        if (window.addEventListener) {
            window.addEventListener('resize', resize);
        }

        else {
            window.attachEvent('onresize', resize);
        }

        $(document).ready(function () {
            resize()
        });
    </script>
</head>

<body>
<main>
    <div class="d-flex flex-column">
        {% include 'snippets/navigation_xh.html' %}
        <a href="{{ url_for('widgets_mobi') }}" class="d-flex flex-column align-items-center" style="background:#c0392b; height: calc(45vh - 100px); text-decoration: none">
            <div id="my-element" class="mt-auto">
                <span>FUMANISA?</span>
            </div>
            <div id="my-element-2" class="d-flex flex-column justify-content-center align-items-center mb-auto">
                <span>Apha ukuba ingcibi yakho ibhaliswe ngokusemthethweni na</span>
                <img  src="/static/img/icon.png" style="max-width: 25px;" class="mt-2"/>
            </div>
        </a>
        <div class="d-flex container-2 mt-2 justify-content-between">
            <a href="{{ url_for('reports_home_mobi') }}" style="text-decoration: none; flex-basis: 49%">
                <div class="d-flex container-2 flex-column align-items-center" style="background: #a62518;">
                    <div id="my-element-3" class="mt-auto">
                        <span>CHAZA</span>
                    </div>
                    <div id="my-element-4" class="d-flex flex-column align-items-center mb-auto" style="text-align: center; line-height: 14px">
                        <span>Ibhoma elingekho semthethweni apha</span>
                        <br/>  <img  src="/static/img/Report Icon.png" style="max-width: 25px;"/>
                    </div>
                </div>
            </a>

            <a href="{{ url_for('initiates_home_mobi') }}" style="text-decoration: none;  flex-basis: 49%">
                <div class="d-flex container-2 flex-column align-items-center" style="background: #8b1e12;">
                    <div id="my-element-5" class="mt-auto">
                        <span>SEBENZISA</span>
                    </div>
                    <div id="my-element-6" class="d-flex flex-column align-items-center mb-auto" style="text-align: center; line-height: 14px">
                        <span>lenombholo ye fowuni ukunceda umkhwetha osengxakini</span>
                        <br/>  <img  src="/static/img/Get Help Icon.png" style=" max-width: 25px;"/>
                    </div>
                </div>
            </a>
        </div>

        <div class="d-flex container-2 mt-2 justify-content-between">
            <a href="{{ url_for('locator_mobi') }}" style="text-decoration: none; flex-basis: 49%">
                <div class="d-flex flex-column container-2 align-items-center" style="background: #2f4155;">
                    <div id="my-element-7" class="mt-auto">
                        <span>KHANGELA</span>
                    </div>
                    <div id="my-element-8" class="d-flex flex-column align-items-center mb-auto" style="text-align: center; line-height: 14px">
                        <span>Ingcibi okanye ibhoma elikufuphi nawe</span>
                        <br/><img  src="/static/img/Find Icon.png" style="max-width: 25px;"/>
                    </div>
                </div>
            </a>

            <a href="{{ url_for('surgeons_register_mobi') }}" style="text-decoration: none;  flex-basis: 49%">
                <div class="d-flex flex-column container-2 align-items-center" style="background: #3f5269;">
                    <div id="my-element-9" class="mt-auto">
                        <span>COFA</span>
                    </div>
                    <div id="my-element-10" class="d-flex flex-column align-items-center mb-auto" style="text-align: center; line-height: 14px">
                        <span>Apha xa ufuna ukubhaliswa nje ngengcibi esemthethweni</span>
                        <br/>  <img  src="/static/img/Get Legal Icon.png" style="max-width: 25px;"/>
                    </div>
                </div>
            </a>
        </div>
        <br style="line-height: 5px">
    </div>
</main>
{% include 'snippets/footer.html' %}
</body>
</html>
