{# <div class="container-fluid container-1 navy toppad5" id="footer"> #}
        <nav class="navbar navbar-default navbar-fixed-bottom container-1" style=" background: white;">
            <div class="container-fluid container-1 footer-basic-centered footer-company-motto" style="  background: white;padding-top:5px">
                                   <a target="_blank" href="http://city-press.news24.com/">
                    <img id="logo-footer-city" src="/static/img/redlogo.JPG"/>
                </a>
                           <a target="_blank" href="https://www.dailysun.co.za/">
                    <img id="logo-footer-sun" src="/static/img/dailysun.jpeg"/>
                </a>
                <br>
                <div style="  text-align: center; font-size: 12px; border-top: 1px solid #c0392b;">
                    <a href="http://www.24.com/static/PrivacyPolicy.htm"target="_blank"><span style="color:#c0392b;">Terms of Use</span></a>
                        .
                     <a href="{{ url_for('faq_mobi') }}" style="color:#c0392b;">FAQs</a>
                        .
                    <a href="{{ url_for('about_mobi') }}" style="color:#c0392b;">About this tool</a>
                </div>
            </div>
        </nav>
{#</div>#}