<footer class="footer mt-auto bg-light">
    <div class="d-flex flex-column footer-basic-centered footer-company-motto" style="background: white;padding-top:5px">
        <div class="d-flex justify-content-center">
            <a href="http://city-press.news24.com/">
                <img style="width: 120px; height: auto;" src="/static/img/redlogo.JPG">
            </a>
            <a target="_blank" href="https://www.dailysun.co.za/">
                <img id="logo-footer-sun" src="/static/img/dailysun.jpeg">
            </a>
        </div>
        <div style="text-align: center; font-size: 12px; border-top: 1px solid #c0392b;">
            <a href="http://www.24.com/static/PrivacyPolicy.htm" target="_blank"><span style="color:#c0392b;">Terms of Use</span></a>
                .
            <a href="/faq-mobi" style="color:#c0392b;">FAQs</a>
                .
            <a href="/about-mobi" style="color:#c0392b;">About this tool</a>
        </div>
    </div>
</footer>
