<div class="container-fluid container-1">
        <nav class="navbar navbar-default navbar-fixed-top container-1 bot" style="background: #CE232B">
            <div class="navbar-header page-scroll">
                <button type="button" id="my-element-11"
                        class="navbar-toggle btn-responsive container-4 Absolute-Center "
                        data-target="#bs-example-navbar-collapse-1" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <button type="submit" id="my-element-11"
                        class="navbar-toggle btn-responsive container-4 Absolute-Center-2"
                        aria-expanded="false" onclick="window.location.href='/xh'">XH
                </button>
                <div class="container-fluid container-1" style=" background: white;">
                   <a class="navbar-brand" href="{{ url_for('home') }}">
                       <img id="logo" src="/static/img/Logomain.png" style="height: 20px;width: 80%; max-width: 160px;">
                   </a>
                    </div>
                <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-center">
                        <li><a href="{{ url_for('widgets_mobi') }}" class="btn btn-default btn-responsive" style="line-height: 14px; padding: 2px">Is
                            your surgeon registered?</a></li>
                        <li><a href="{{ url_for('initiates_home_mobi') }}" class="btn btn-default btn-responsive" style="line-height: 14px; padding: 2px">Do
                            you know an initiate in trouble?</a></li>
                        <li><a href="{{ url_for('reports_home_mobi') }}" class="btn btn-default btn-responsive" style="line-height: 14px; padding: 2px">Report
                            an illegal traditional surgeon</a></li>
                        <li><a href="{{ url_for('surgeons_register_mobi') }}" class="btn btn-default btn-responsive" style="line-height: 14px; padding: 2px">Register
                            as a traditional surgeon</a></li>
                        <li><a href="{{ url_for('locator_mobi') }}" class="btn btn-default btn-responsive" style="line-height: 14px; padding: 2px">Find
                            a registered traditional surgeon</a></li>
                        <li><a href="{{ url_for('about_mobi') }}" class="btn btn-default btn-responsive" style="line-height: 14px; padding: 2px">About
                            this project</a></li>
                        <li><a href="{{ url_for('contact_mobi') }}" class="btn btn-default btn-responsive" style="line-height: 14px; padding: 2px;">Contact
                            details</a></li>
                        <br>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
