<div class="container-1">
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="d-flex flex-column" style="width: 100%;">
          <div class="d-flex" style="width: 100%;">
              <a class="navbar-brand flex-fill px-4" href="{{ url_for('home') }}">
                  <img id="logo" src="/static/img/Logomain.png" style="height: 20px;width: 80%; max-width: 160px;"/>
              </a>
              <div class="d-flex">
                  <button type="submit" class="navbar-toggler m-1" type="button" aria-expanded="false" onclick="window.location.href='/xh'">XH</button>
                  <button class="navbar-toggler m-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>
              </div>
          </div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item"><a href="{{ url_for('widgets_mobi') }}" class="nav-link" aria-current="page">Is your surgeon registered?</a></li>
                  <li class="nav-item"><a href="{{ url_for('initiates_home_mobi') }}" class="nav-link">Do you know an initiate in trouble?</a></li>
                  <li><a href="{{ url_for('reports_home_mobi') }}" class="nav-link">Report an illegal traditional surgeon</a></li>
                  <li><a href="{{ url_for('surgeons_register_mobi') }}" class="nav-link">Register as a traditional surgeon</a></li>
                  <li><a href="{{ url_for('locator_mobi') }}" class="nav-link">Find a registered traditional surgeon</a></li>
                  <li><a href="{{ url_for('about_mobi') }}" class="nav-link">About this project</a></li>
                  <li><a href="{{ url_for('contact_mobi') }}" class="nav-link">Contact details</a></li>
              </ul>
          </div>
      </div>
  </nav>
</div>
