{% extends "layout.html" %}

{% block content %}
    <div style="color: #363435;" class="d-flex flex-column">
        <h3>Frequently Asked Questions:</h3>
        <p class="m-0">Why is city press doing this project? (project origination and history)</p>
        <p class="faqc">(Coming Soon)</p>
        <p class="m-0">Who is involved? (partners)</p>
        <p class="faqc">(Coming Soon)</p>
        <p class="m-0">Is this endorsed by the department of health?</p>
        <p class="faqc">(Coming Soon)</p>
        <p class="m-0">This is a culturally sensitive topic, what steps have you taken to make sure the treatment/app positioning is appropriate?</p>
        <p class="faqc">(Coming Soon)</p>
        <p class="m-0">Where is the information from (who owns the data)?</p>
        <p class="faqc">(Coming Soon)</p>
        <p class="m-0">How can I get in touch with you?</p>
        <p class="faqc">(Coming Soon)</p>
        <div class="d-flex flex-column">
            <div class="d-flex justify-content-center">
                <div class="portfolio-item">
                    <a href="http://city-press.news24.com/" target="_blank" class="portfolio-link" data-toggle="modal">
                        <img src="/static/img/citypress.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="portfolio-item">
                    <a href="http://eclgta.ecprov.gov.za/" target="_blank" class="portfolio-link" data-toggle="modal">
                        <img src="/static/img/CogTa.png" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="portfolio-item">
                    <a href="https://codeforafrica.org/"
                    target="_blank" class="portfolio-link" data-toggle="modal">
                        <img src="/static/img/Code4Africa.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="portfolio-item">
                    <a href="http://opendata.durban" target="_blank" class="portfolio-link" data-toggle="modal">
                        <img src="/static/img/Open%20Data%20Durban%20Logo.png" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
