{% extends "layout_desktop.html" %}

{% block content %}

    <div class="container-fluid container-7">
        <section class="success" id="home">
            <h3 style="padding-left:20px">Thank you!</h3>
            <br/>

            <p>The Eastern Cape Department of traditional affairs will forward your details to the correct official from
                the
                department of health, who will contact you.
                <br/><br/><br/><br/><br/><br/><br/>
                <br/></p>
            <br>
            <br>
            <br>
            <br>
        </section>
    </div>

{% endblock content %}