{% extends "layout_xh_desktop.html" %}

{% block content %}

    <div class="main_content">
        <p>Kubalulekile ukuba iigncibi zibhalise ngokusemthethweni phaya kwisebe lezempilo khona ukuze siqinisekise
            ukuba zinaso isakhono sokwalusa kwaye ziselungelweni lokwenza njalo. Ukuba ufuna ukubhalisa nje
            ngengcibi, nceda ugcwalise apha ngezantsi. Igosa lakwarhulumente lizakuqhakamshelana nawe.
        </p>
        <form action="{{ url_for('surgeons_register') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="mt-3">
                <div class="form-label">
                    Bhala igama?
                </div>
                <div class="{% if form.name.errors %} form-control is-invalid {% endif %}">
                    {{ form.name(placeholder="Type your name...", class="form-control") }}
                </div>
                <p class="invalid-feedback">
                    {{ form.name.errors[0] }}
                </p>
            </div>
            <div class="mt-3">
                <div class="form-label">
                    Ithini ifone number?
                </div>
                <div class="{% if form.phone_number.errors %} form-control is-invalid {% endif %}">
                    {{ form.phone_number(placeholder="Type your phone number...", class="form-control") }}
                </div>
                <p class="invalid-feedback">
                    {{ form.phone_number.errors[0] }}
                </p>
            </div>
            <div class="mt-3">
                <div class="form-label">
                    Ingaba ikweyiphi indawo ingcibi?
                </div>
                <div class="{% if form.area.errors %} form-control is-invalid {% endif %}">
                    {{ form.area(placeholder="Type your area...", class="form-control") }}
                </div>
                <p class="invalid-feedback">
                    {{ form.area.errors[0] }}
                </p>
                <button class="btn btn-success w-100 mt-5" type="submit" style="float: right; padding: 8px 30px 8px 30px;">Chofa apha</button>
            </div>
        </form>
    </div>

{% endblock content %}
