{% extends "layout_xh_desktop.html" %}

{% block content %}

    <div class="main_content text-center register_home_page">
        <p>Kubalulekile ukuba iigncibi zibhalise ngokusemthethweni phaya kwisebe lezempilo khona ukuze siqinisekise
            ukuba zinaso isakhono sokwalusa kwaye ziselungelweni lokwenza njalo. Ukuba ufuna ukubhalisa nje
            ngengcibi, nceda ugcwalise apha ngezantsi. Igosa lakwarhulumente lizakuqhakamshelana nawe.
        </p>
        <form action="{{ url_for('surgeons_register') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="d-flex flex-column w-75 m-auto register_form">
                <div class="mt-3 d-flex align-items-center register_fields">
                    <div class="form-label w-25 text-end pe-3 register_input">
                        Bhala igama?
                    </div>
                    <div class="{% if form.name.errors %} form-control is-invalid {% endif %} w-75 register_input">
                        {{ form.name(placeholder="Type your name...", class="form-control") }}
                    </div>
                    <p class="invalid-feedback register_input">
                        {{ form.name.errors[0] }}
                    </p>
                </div>
                <div class="mt-3 d-flex align-items-center register_fields">
                    <div class="form-label w-25 text-end pe-3 register_input">
                        Ithini ifone number?
                    </div>
                    <div class="d-flex flex-column w-75 register_input">
                        <div class="{% if form.phone_number.errors %} form-control is-invalid {% endif %} w-100">
                            {{ form.phone_number(placeholder="Type your phone number...", class="form-control") }}
                        </div>
                        <p class="invalid-feedback w-100">
                            {{ form.phone_number.errors[0] }}
                        </p>
                    </div>
                </div>
                <div class="mt-3 d-flex align-items-center register_fields">
                    <div class="form-label w-25 text-end pe-3 register_input">
                        Ingaba ikweyiphi indawo ingcibi?
                    </div>
                    <div class="d-flex flex-column w-75 register_input">
                        <div class="{% if form.area.errors %} form-control is-invalid {% endif %} w-100">
                            {{ form.area(placeholder="Type your area...", class="form-control") }}
                        </div>
                        <p class="invalid-feedback w-100">
                            {{ form.area.errors[0] }}
                        </p>
                    </div>
                </div>
                <button class="btn btn-success mt-2 padded_btn text-end align-self-end" type="submit">Chofa apha</button>
            </div>
        </form>
    </div>

{% endblock content %}
