{% extends "layout_xh_desktop.html" %}

{% block content %}

    <div class="main_content">
        <p>Siyacela ingcibi zibhalise ngokusemthethweni phaya kwelasebe lezempilo ukuqinisekisa ukuba zikulungele
            kwaye
            zinaso isakhono sokwalusa amakhwenkwe. Mawethu lento ibalulekile kakhulu njengoba nisazi nani baninzi
            abakhwetha abaswelekayo
            ngenxa yeengcibi ezingekho mthethweni minyaka le. Mxele umntu owalusa ngokungekho mthethweni khona ukuze
            usindise ubomi bomntwana.
        </p>
        <form action="{{ url_for('reports_home') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="mt-3">
                <div class="form-label">
                    Bhala igama?
                </div>
                <div class="{% if form.opt_name.errors %} form-control is-invalid {% endif %}">
                    {{ form.opt_name(placeholder="Type your name (optional)...", class="form-control") }}
                </div>
                <p class="invalid-feedback">
                    {{ form.opt_name.errors[0] }}
                </p>
            </div>
            <div class="mt-3">
                <div class="form-label">
                    Ithini ifone number?
                </div>
                <div class="{% if form.phone_number.errors %}form-control is-invalid {% endif %}">
                    {{ form.phone_number(placeholder="Type your phone number...", class="form-control") }}
                </div>
                <p class="invalid-feedback">
                    {{ form.phone_number.errors[0] }}
                </p>
            </div>
            <div class="mt-3">
                <div class="form-label">
                    Ngubani lengcibi yalusayo ngaphandle kwevume?
                </div>
                <div class="{% if form.surgeons_name.errors %} form-control has-error {% endif %}">
                    {{ form.surgeons_name(placeholder="Enter his name...", class="form-control") }}
                </div>
                <p class="invalid-feedback">
                    {{ form.surgeons_name.errors[0] }}
                </p>
            </div>
            <div class="mt-3">
                <div class="form-label">
                    Amakhwenkwe/abantwana?
                </div>
                <div class=" {% if form.area.errors %} form-control is-invalid {% endif %}">
                    {{ form.area(placeholder="Type the area...", class="form-control") }}
                </div>
                <p class="col-sm-1 help-block">
                    {{ form.area.errors[0] }}

            </div>
            <div class="{% if form.report_problem.errors %}form-group has-error {% endif %}">
                <div class="form-label">
                    Chaza kwenzekani
                </div>
                <div class="{% if form.report_problem.errors %} form-control is-invalid {% endif %}">
                    {{ form.report_problem(placeholder="Describe the nature of the problem...", class="form-control") }}
                </div>
                <p class="invalid-feedback">
                    {{ form.report_problem.errors[0] }}
                </p>
                <button class="btn btn-success w-100 my-3" type="submit">Chofa apha</button>
            </div>
        </form>
    </div>

{% endblock content %}
