{% extends "layout_desktop.html" %}

{% block content %}

    <div class="main_content report_home_page">
        <p>It is critical for traditional surgeons to register with the Eastern Cape department of health to ensure
            that
            they have the skills to perform ritual circumcisions.
            Many initiates die every year at the hands of illegal surgeons, so report them here and save a life.
        </p>
        <form action="{{ url_for('reports_home') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="d-flex flex-column w-75 m-auto report_form">
                <div class="mt-3 d-flex align-items-center report_form_fields">
                    <div class="form-label w-50 text-end pe-5 report_form_input">
                        What is your name?
                    </div>
                    <div class="{% if form.opt_name.errors %} form-control is-invalid {% endif %} w-50 report_form_input">
                        {{ form.opt_name(placeholder="Type your name (optional)...", class="form-control") }}
                    </div>
                    <p class="invalid-feedback report_form_input">
                        {{ form.opt_name.errors[0] }}
                    </p>
                </div>
                <div class="mt-3 d-flex align-items-center report_form_fields">
                    <div class="form-label w-50 text-end pe-5 report_form_input">
                        What is your phone number?
                    </div>
                    <div class="d-flex flex-column w-50 report_form_input">
                        <div class="{% if form.phone_number.errors %}form-control is-invalid {% endif %} w-100">
                            {{ form.phone_number(placeholder="Type your phone number...", class="form-control") }}
                        </div>
                        <p class="invalid-feedback w-100">
                            {{ form.phone_number.errors[0] }}
                        </p>
                    </div>
                </div>
                <div class="mt-3 d-flex align-items-center report_form_fields">
                    <div class="form-label w-50 text-end pe-5 report_form_input">
                        What is the illegal traditional surgeon's name?
                    </div>
                    <div class="d-flex flex-column w-50 report_form_input">
                        <div class="{% if form.surgeons_name.errors %} form-control has-error {% endif %} w-100">
                            {{ form.surgeons_name(placeholder="Enter his name...", class="form-control") }}
                        </div>
                        <p class="invalid-feedback w-100">
                            {{ form.surgeons_name.errors[0] }}
                        </p>
                    </div>
                </div>
                <div class="mt-3 d-flex align-items-center report_form_fields">
                    <div class="form-label w-50 text-end pe-5 report_form_input">
                        What area does he work in?
                    </div>
                    <div class="d-flex flex-column w-50 report_form_input">
                        <div class="{% if form.area.errors %} form-control is-invalid {% endif %} w-100">
                            {{ form.area(placeholder="Type the area...", class="form-control") }}
                        </div>
                        <p class="invalid-feedback w-100">
                            {{ form.area.errors[0] }}
                        </p>
                    </div>
                </div>
                <div class="mt-3 d-flex align-items-center report_form_fields">
                    <div class="form-label w-50 text-end pe-5 report_form_input">
                        Please describe what is happening
                    </div>
                    <div class="d-flex flex-column w-50 report_form_input">
                        <div class="{% if form.report_problem.errors %} form-control is-invalid {% endif %} w-100">
                            {{ form.report_problem(placeholder="Describe the nature of the problem...", class="form-control") }}
                        </div>
                        <p class="invalid-feedback w-100">
                            {{ form.report_problem.errors[0] }}
                        </p>
                    </div>
                </div>
                <button class="btn btn-success mt-2 padded_btn text-end align-self-end" type="submit">Submit</button>
            </div>
        </form>
    </div>

{% endblock content %}
