{% extends "layout_xh.html" %}

{% block content %}

<div style="color: #363435;" class="d-flex flex-column">
    <ul class="list-group">
        <li class="list-group-item active" style="background-color: #c0392b; border: 0px">National Initiation Hotline Number</li>
        <li class="list-group-item">0800 66 66 11</li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item active" style="background-color: #c0392b; border: 0px">City Press Contact Details</li>
        <li class="list-group-item">69 Kingsway Auckland Park Johannesburg</li>
        <li class="list-group-item">News desk phone: 011 713 9485</li>
        <li class="list-group-item">East London office: 073 207 2200</li>
        <li class="list-group-item">Web: <a style="color:#c0392b;" href="http://city-press.news24.com/" target="_blank">http://city-press.news24.com/</a></li>
        <li class="list-group-item"></li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item active" style="background-color: #c0392b; border: 0px">Eastern Cape Department of Health Contact Details</li>
        <li class="list-group-item">Department of Health Eastern Cape Dukumbana Building Independance Avenue Bhisho 5605</li>
        <li class="list-group-item">Phone: 08000 32364</li>
        <li class="list-group-item">Web: <a style="color:#c0392b;" href="http://www.echealth.gov.za" target="_blank">http://www.echealth.gov.za</a></li>
    </ul>
</div>

{% endblock content %}
