{% extends "layout.html" %}

{% block content %}

    <div class="container-fluid container-7">
        <section class="success" id="home">
            <p>It is important for traditional surgeons to register with the department of health to ensure they
                have the
                requisite skills to perform circumcisions.
                If you would like to register, fill out these fields and a government official will contact you.
            </p><br/>
            <form action="#" class="form-horizontal" method="POST" style="position: absolute;">

                <div class="form-group">
                    <div class="control-label col-sm-3">
                        What is your name?
                    </div>
                    <div class="col-sm-3">
                    </div>
                    <p class="col-sm-5 help-block">

                </div>
                <div class="form-group ">
                    <div class="control-label col-sm-3">
                        What is your phone number?
                    </div>
                    <div class="col-sm-3">
                    </div>
                    <p class="col-sm-5 help-block">

                </div>
                <div class="form-group">
                    <div class="control-label col-sm-3">
                        What area do you work in?
                    </div>
                    <div class="col-sm-3">
                    </div>
                    <p class="col-sm-5 help-block">

                </div>
                <button class="btn btn-success btn-responsive" type="submit">Submit</button>
                <br>
                <br>
                <br>
                <br>
            </form>
        </section>
    </div>

{% endblock content %}