<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'snippets/header.html' %}
</head>

<body>
<main>
    {% include 'snippets/navigation.html' %}

    {% block content %}

    {% endblock content %}

    {% include 'snippets/footer.html' %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115780121-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-115780121-2');
    </script>

</main>
</body>
</html>
