{% extends "layout_desktop.html" %}

{% block content %}
   <div class="d-flex flex-sm-column flex-md-row flex-lg-row main_content">
     <div class="m-3 home_registered_surgeon">
      <a href="{{ url_for('widgets') }}">
        <figure class="snip1175 red">
          <div class="h-100">
            <img id="img-main" class="img-fluid" src="/static/img/initiation-main2.jpg"/>
            <img id="img-main2" class="img-fluid" src="/static/img/initiation-main.jpg"/>
          </div>
          <figcaption class="snip1175_cap">
            <h2>Registered?</h2>
            <p>Check if your surgeon is registered</p>
            <img id="figureimage" class="img-fluid" src="/static/img/icon.png" style="height: inherit; padding-bottom: 10px;"/>
          </figcaption>
        </figure>
      </a>
     </div>
     <div class="d-flex-column home_others">
       <div class="d-flex others1">
         <div id="imagewidth" class="m-2">
          <a href="{{ url_for('initiates_home') }}">
            <figure class="snip1174 red">
              <img src="/static/img/initiation.jpg" alt="sq-sample33" />
              <figcaption>
                <h2>Get Help</h2>
                <p>Help Hotline for initiates who are in trouble</p>
                <img id="figureimage" src="/static/img/Get Help Icon.png" style=" height: inherit; padding-bottom: 10px;"/>
              </figcaption>
            </figure>
          </a>
         </div>
         <div id="imagewidth" class="m-2">
          <a href="{{url_for('surgeons_register') }}">
            <figure class="snip1174 blue">
              <img src="/static/img/initiation.jpg" alt="sq-sample33" />
              <figcaption>
                <h2>Get Legal</h2>
                <p>Do you want to register as a traditional surgeon ?</p>
                <img id="figureimage" src="/static/img/Get Legal Icon.png" style="height: inherit; padding-bottom: 10px;"/>
              </figcaption>
            </figure>
          </a>
         </div>
       </div>
       <div class="d-flex others2">
        <div id="imagewidth" class="m-2">
          <a href="{{url_for('reports_home') }}" id="mainblock">
            <figure class="snip1174 redlight">
              <img src="/static/img/initiation.jpg" alt="sq-sample33" />
              <figcaption>
                <h2>Report</h2>
                <p>
                  Report Illegal surgeons or initiation schools
                </p>
                <img id="figureimage" src="/static/img/Report Icon.png" style=" height: inherit; padding-bottom: 10px;"/>
              </figcaption>
            </figure>
          </a>
        </div>
        <div id="imagewidth" class="m-2">
          <a href="{{url_for('locator') }}" id="mainblock">
            <figure class="snip1174 navy">
              <img src="/static/img/initiation.jpg" alt="sq-sample33" />
              <figcaption>
                <h2>Find</h2>
                <p>
                  Find your nearest surgeon or school for initiation
                </p>
                <img id="figureimage" src="/static/img/Find Icon.png" style=" height: inherit; padding-bottom: 10px;"/>
              </figcaption>
            </figure>
          </a>
        </div>
       </div>
     </div>
  </div>

{% endblock content %}
