{% extends "layout.html" %}

{% block content %}
<div style="color: #363435;" class="d-flex flex-column">
    <h3>About this project:</h3>
    <p>For many young men, the traditional rite of passage to manhood is a profoundly spiritual experience. But
        scores of young men suffer
        and die during initiation, at the hands of unscrupulous traditional surgeons. Yet more initiates at
        illegal initiation schools are maimed for life.
    </p>
    <p>City Press, Code for Africa and Open Data Durban have devised a way in which initiates and their families
        can check whether the traditional
        surgeons they have chosen are registered with the Eastern Cape Department of Health.
    </p>
    <p>It is our hope that you use this tool to choose a skilled, registered traditional surgeon, and experience
        the rite of passage as the enriching cultural
        experience it is meant to be.
    </p>
    <div class="d-flex flex-column">
        <div class="d-flex justify-content-center">
            <div class="portfolio-item">
                <a href="http://city-press.news24.com/" target="_blank" class="portfolio-link"
                    data-toggle="modal">
                    <img src="/static/img/citypress.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="portfolio-item">
                <a href="http://eclgta.ecprov.gov.za/" target="_blank" class="portfolio-link" data-toggle="modal">
                    <img src="/static/img/CogTa.png" class="img-responsive" alt="">
                </a>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="portfolio-item">
                <a href="https://codeforafrica.org/"
                    target="_blank" class="portfolio-link" data-toggle="modal">
                    <img src="/static/img/Code4Africa.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="portfolio-item">
                <a href="http://opendata.durban" target="_blank" class="portfolio-link" data-toggle="modal">
                    <img src="/static/img/Open%20Data%20Durban%20Logo.png" class="img-responsive" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
