{% extends "layout_xh.html" %}

{% block content %}

    <section class="success" id="home">

        <h3>About this project:</h3>
        <p>Uninzi lamadoda akwaXhosa alibona isiko lokwaluka nje ngesithethe esibaluleke kakhulu, kwaye esinentsingiselo
            kubumi babo. Kodwa ngelishwa uninzi labafana abaselula abangabakhwetha baphatheka kakubi xa beyokoluka,
            abanye bade basweleke ngenxa yeengcibi ezingenalusini. Abanye abaninzi bazifumana nephulukana nobudoda
            babo.</p>

        <br>

        <p>Ngenxa yezizizathu zibalulwe apha ngentla, iphephandaba iCity Press, kwakunye ne Code for Africa, ndawonye ne
            Open Data Durban, baze necebo [APP] apho abazali kwakunye
            namakhwenkwe bazokwazi ukukhangela kwangethuba ukuba ingcibi leyo bayikhethileyo ingaba ibhalisiwe ngokwase
            mthethweni kusini na, phaya kwelacandelo lezempilo. </p>

        <br>
        <p>Kungumnqweno wethu ukuba ngokusebenzisa elicebo siza nalo ubani angakwazi ukukhetha ingcibi
            esemthethweni kwaye enamava khona ukuze isiko eli lokwaluka ibeyinto apho nabani othe wayenza abenegugu
            neqhayiya kwaye iphuhlise incubeko yakhe.</p>
        <br>

        <div class="container">
            <div class="row row-centered">
                <div class="col-xs-4 col-sm-3 portfolio-item col-centered">
                    <a href="http://city-press.news24.com/" target="_blank" class="portfolio-link"
                       data-toggle="modal">
                        <img src="/static/img/citypress.png" class="img-responsive" alt="" style="">
                    </a>
                </div>


                <div class="col-xs-4 col-sm-3 portfolio-item col-centered">
                    <a href="http://eclgta.ecprov.gov.za/" target="_blank" class="portfolio-link" data-toggle="modal">
                        <img src="/static/img/CogTa.png" class="img-responsive" alt="" style="">
                    </a>
                </div>
                <div class="row row-centered">
                    <div class="col-xs-4 col-sm-3 portfolio-item col-centered">
                        <a href="https://codeforafrica.org/"
                           target="_blank" class="portfolio-link" data-toggle="modal">
                            <img src="/static/img/Code4Africa.png" class="img-responsive" alt="" style="">
                        </a>
                    </div>

                    <div class="col-xs-4 col-sm-3 portfolio-item col-centered">
                        <a href="http://opendata.durban" target="_blank" class="portfolio-link"
                           data-toggle="modal">
                            <img src="/static/img/Open%20Data%20Durban%20Logo.png" class="img-responsive" alt="" style="">
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <br>
        <br>
        <br>

    </section>

{% endblock content %}