{% extends "layout_xh_desktop.html" %}

{% block content %}

<div class="main_content">
    <form action="{{ url_for('locator') }}" method="POST" >
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-label">
            Ngobani iingcibi ezikufutshane nawe? Please select your area:
        </div>
        <div class="{% if form.location.errors %} form-control is-invalid {% endif %}">
            {{ form.location(placeholder="E.g. Libode", class="form-control") }}
        </div>
        <p class="invalid-feedback">
            {{ form.location.errors[0] }}
        </p>
        <button class="btn btn-success w-100 mt-3" type="submit">Chofa apha</button>
    </form>
</div>

{% endblock content %}
