{% extends "layout_desktop.html" %}

{% block content %}

<div class="main_content">
    <form action="{{ url_for('locator') }}" method="POST" >
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="d-flex flex-column w-75">
            <div class="mt-3 d-flex align-items-center justify-content-center find_form_fields">
                <div class="form-label w-50 pe-5">
                    Who are the nearest traditional surgeons around you? Please select your area:
                </div>
                <div class="d-flex flex-column w-50">
                    <div class="{% if form.location.errors %} form-control is-invalid {% endif %} w-100">
                        {{ form.location(placeholder="E.g. Libode", class="form-control form-select") }}
                    </div>
                    <p class="invalid-feedback w-100">
                        {{ form.location.errors[0] }}
                    </p>
                </div>
            </div>
            <button class="btn btn-success mt-2 padded_btn text-end align-self-end" type="submit">Submit</button>
        </div>
    </form>
</div>

{% endblock content %}
