{% extends "layout_desktop.html" %}

{% block content %}

    <div class="container-fluid container-7">
        <section class="success" id="home2">

            <form action="{{ url_for('locator') }}" class="form-horizontal1" method="POST" >
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="form-group {% if form.location.errors %} has-error {% endif %}">
                    <div class="col-sm-5">
                        Who are the nearest traditional surgeons around you? Please select your area:
                    </div>
                    <div class="col-sm-5">
                        {{ form.location(placeholder="E.g. Libode", class="form-control") }}
                        <br/>
                        <button class="btn btn-success" type="submit" style="float: right; padding: 8px 30px 8px 30px;">Submit</button>
                    </div>
                     <p class="col-sm-1 help-block">
                        {{ form.location.errors[0] }}
                </div>

            </form>

        </section>
    </div>

{% endblock content %}